.heading {
  text-align: center;
}

.imageWrapper {
  text-align: center;
}

.image {
  margin-bottom: var(--space-3);
  display: inline-block;
}

.bodyText {
  margin: auto;
  padding: 5px 0;
  text-align: center;
}
